
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
label {
    color: white;

}
h3 {
    color: white;
}
.mWel{
    color: #D12E32;
    text-align: center;
    font-size: 42px;
    text-shadow: 0 0 3px #d12e31;
    font-family: helvetica;
}
h1{
    color: #D12E32;
    text-align: center;
    font-size: 42px;
    padding-bottom: 30px;
    text-shadow: 0 0 3px #d12e31;
    font-family: helvetica;
}
#mForm{
    margin: auto;
    width: 50%;
    border: 2px solid #1f1f14;
    background-color: #464955;
    padding: 10px;
    height:550px;
    border-radius: 5%;
    opacity: .9;
}
form{
    text-align: center;
}

#heading{
    color: #D12E32;
    text-align: center;
}
#error{
    width:300px;
	height:200px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-100px 0 0 -150px;
}

body {
  background: #003366;
  font-family: 'Open Sans', sans-serif;
}
table {
  background: #012B39;
  margin-top: 30px;
  padding-top: 30px;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 1em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}
