<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Chow Time</title>
        <meta name="viewport" content="width=device-width,
        initial-scale=1">
        <link href="{{  url_for('static', filename='css/bootstrap.min.css')  }}" rel="stylesheet">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{  url_for('static', filename='favicon.ico')  }}">
        <link href="{{  url_for('static', filename='css/paginate.css')  }}" rel="stylesheet">
    </head>
    <body>
        <div id="heading">
            <h2 class="mWel">Chow Time</h2>
        </div>
        <div id="mForm">
            <form action="/search" method="post">
            <br>

            <label for="TERM">What's your favorite food?&nbsp;</label>
            <input id="TERM" type="text" name="term" placeholder="Sushi, Mexican, etc."><br>
            <br>

            <label for="LOCATION">What is your location?&nbsp;</label>
            <input size="40" id="LOCATION" type="text" name="location" placeholder="1600 Pennsylvania Ave, Washington, DC"><br>
            <br>

            <label for="TIME">What is your fastest mile time?&nbsp;</label>
            <input id="TIME" type="text" name="time" placeholder="MM:SS"><br>

            <br>

            <h3>What's in your wallet?</h3>
            <input id="inputQues" type="radio" name="price" value="1" checked><label for="inputQues" style="color:white;">&nbsp;$</label><br>
            <input id="inputQues" type="radio" name="price" value="1,2"><label for="inputQues" style="color:white;">&nbsp;$$</label><br>
            <input id="inputQues" type="radio" name="price" value="1,2,3"><label for="inputQues" style="color:white;">&nbsp;$$$</label><br>
            <input id="inputQues" type="radio" name="price" value="1,2,3,4"><label for="inputQues" style="color:white;">&nbsp;$$$$</label><br>

            <br>

            <h3>Only show currently open restuarants?</h3>
            <input id="inputQues" type="radio" name="open" value="true" checked><label for="inputQues" style="color:white;">&nbsp;Only show currently open</label><br>
            <input id="inputQues" type="radio" name="open" value="false"><label for="inputQues" style="color:white;">&nbsp;Order when open</label><br>

            <br><br>

            <input type="submit" value="Submit">
            </form>
        </div>
        <div class="footer">
            <p style="margin:0">Copyright &copy; 2017 Greg Gershkowitz All Rights Reserved</p>
        </div>
    </body>
</html>
